@mixin btn($bg-color: #e2e2e2){
    text-decoration: none;
    padding: $base-padding, $base-padding *2;
    display: inline-block;
    border: 0;
    cursor: pointer;
    background-color: $bg-color;
    border-radius: $base-border-radius;
}

.btn{
  @include btn;
}

@each $key, $val in $color {
  .btn-#{$key}{
    @include btn ($val);
    &:hover{
    background-color: lighten($val,5);
    }
  }
  .btn-outlined-#{$key}{
    @include btn (#fff);
    border-radius: $base-border-radius solid $val;
    &:hover{
      background-color: $val ;
    }
  }
  .btn-complement-#{$key}{
    @include btn($val);
    color: light-comp($val);
    &:hover{
      color: $val;
      background-color: light-comp($val);
    }
  }

}